.row {
    max-width: 155rem;
    margin: 0 auto;
    @include clearFix;
    [class ^='col-'] {
        float: left;
        &:not(:last-child) {
            margin-right: 6rem;
        }
    }
    &--md {
        max-width: 45vw;
        margin: 0 auto;
        @include clearFix;

        [class ^='col-'] {
            float: left;
            &:not(:last-child) {
                margin-right: 6rem;
            }
        }
    }
}
.col-1-of-3 {
    width: calc((100% - 12rem)/3);
}
.col-1-of-4 {
    width: calc((100% - 18rem)/4);
}