.row {
    max-width: 155rem;
    margin: 0 auto;
    
    @include clearFix;
    @include respond(desk-md) {
        max-width: 135rem;
    }
    @include respond(desk-sm) {
        max-width: 130rem;
    }
    @include respond(tab-land) {
        max-width: 90vw;
    }
    @include respond(tab-port) {
        max-width: 90rem;
    }

    &--md {
        max-width: 45vw;
        margin: 0 auto;
        @include clearFix;

        [class ^='col-'] {
            float: left;

            &:not(:last-child) {
                margin-right: 6rem;
            }
        }

    }
}

.col-1-of-3 {
    float: left;
    width: calc((100% - 12rem)/3);
    &:not(:last-child) {
        margin-right: 6rem;
        @include respond(tab-port) {
            margin-right: 0rem;
            margin-bottom: 8rem;
        }
    }
    @include respond(tab-port) {
        width: 55%;
        margin-left: 22.5%;
    }
}

.col-1-of-4 {
    width: calc((100% - 18rem)/4);
    float: left;
    &:not(:last-child) {
        margin-right: 6rem;
    }
    @include respond(tab-land) {
        width: calc((100% - 14rem)/2);
    }
    @include respond(tab-port) {
        width: calc((100% - 12rem)/2);
    }
    @include respond(tab-land) {
        margin-bottom: 8rem;
        &:nth-child(odd) {
            float: left;
        }
        &:nth-child(even) {
            float: right;
            margin-right: 0rem;
        }
    }
}