.content {
    &__header {
        padding-bottom: 1rem;
        padding-top: 5rem;
    }
    &__logo {
        width: 15rem;
        height: 10rem;
        border-radius: 5px;
        position: absolute;
        top: 2%;
        left: 95%;
        transform: translate(-95%, -2%);
        &__pocket{
            width: 15rem;
            height: 7rem;
            border-radius: 5px;
            position: absolute;
            top: 4%;
            left: 95%;
            transform: translate(-95%, -4%);
        }
        &__ng{
            width: 10rem;
            height: 10rem;
            border-radius: 5px;
            position: absolute;
            top: 4%;
            left: 95%;
            transform: translate(-95%, -4%);
        }
    }
    &--features__li{
        position: relative;
    }
    &--body {
        display: flex;
        width: 100vw;
        padding-top: 5rem;
        &__1 {
            flex: 1;
            text-align: left;
            border-right: 3px solid $color-grey-dark-2;
        }
        &__2 {
            flex: 1;
            text-align: left;
            padding-left: 5rem;
        }
    }
    &__ul{
        list-style: none;
        height: 70vh;
        padding-left: 5rem;
        padding-right: 5rem;
        line-height: 5rem;
        font-size: 2rem;
        overflow-y: scroll;
        & > :not(:last-child){
            padding-bottom: 2rem;
            margin-bottom: 2rem;
            border-bottom: 2px solid $color-grey-dark-2;
        }
    }
    &--tool{
        &__li{
            display: flex;
            align-items: center;
        }
        &__logo{
            width:5rem;
            margin-right: 1rem;
        }
    }

  
   
}