.content {
    &__header {
        height:10%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem 5rem;
    }
    &--title{
        text-transform: uppercase;
        display: inline-block;
        color: $color-white;
        font-size: 3rem;
        font-weight: 600;
    }
    &--next{
        position: absolute;
        right: 2%;
        bottom: 50%;
        transform: translate(-5%, 50%);
        border: none;
        font-size: 5rem;
        transition: transform .2s ease;
        background-color: transparent;
        &:hover{
            transform: scale(1.1) translate(2%, 48%);
            color: $color-white;
        }
    }
    &--prev{
        position: absolute;
        position: absolute;
        left: 2%;
        bottom: 50%;
        transform: translate(5%, 50%);
        border: none;
        font-size: 5rem;
        transition: transform .2s ease;
        background-color: transparent;

        &:hover{
            transform: scale(1.1) translate(-2%, 48%);
            color: $color-white;
        }
     }

    &__logo {
        width: 15rem;
        height: 10rem;
        border-radius: 5px;
        &__pocket {
            width: 15rem;
            height: 7rem;
            border-radius: 5px;
            position: absolute;
            top: 4%;
            left: 95%;
            transform: translate(-95%, -4%);
        }
        &__ng {
            width: 10rem;
            height: 10rem;
            border-radius: 5px;
        }
    }

    &--features__li {
        position: relative;
    }

    &--body {
        flex: 0 0 85%;
        width: 85vw;
        border-radius: 5px;
        background-color: $color-white;
        box-shadow: .5rem 1rem 1rem rgba($color-black, .1);
        &__1 {
            flex: 1;
            text-align: left;
            border-right: 3px solid $color-grey-dark-2;
            @include respond (tab-land) {
                padding-top:10rem ;
            }
            @include respond (tab-port) {
                padding-top:5rem ;
            }
        }
        &__2 {
            flex: 1;
            text-align: left;
            padding-left: 5rem;
            @include respond (tab-land) {
                padding-top:10rem ;
            }
            @include respond (tab-port) {
                padding-top:5rem ;
            }
        }
    }

    &__ul {
        list-style: none;
        height: 70vh;
        padding-left: 5rem;
        padding-right: 5rem;
        line-height: 5rem;
        font-size: 2rem;
        overflow-y: scroll;
        @include respond (tab-land) {
            font-size: 3rem;
            line-height: 9rem;
        }
        @include respond (tab-port) {
            font-size: 2.5rem;
            line-height: 7rem;
        }

        &> :not(:last-child) {
            padding-bottom: 2rem;
            margin-bottom: 2rem;
            border-bottom: 2px solid $color-grey-dark-2;
        }
    }

    &--tool {
        &__li {
            display: flex;
            align-items: center;
        }

        &__logo {
            width: 5rem;
            margin-right: 1rem;
        }
    }



}