.content {
    &__header {
        height: 10%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem 4rem;
        color: $color-white;
        position: relative;
    }

    &--title {
        text-transform: uppercase;
        display: inline-block;
        font-size: 4rem;
        font-weight: 600;

        &__current {
            position: absolute;
            left: 50%;
            transform: translate(-50%);
            font-size: 3rem;
        }
    }

    &--next {
        position: absolute;
        cursor: pointer;
        right: 2%;
        bottom: 50%;
        transform: translate(-5%, 50%);
        border: none;
        font-size: 5rem;
        transition: transform .2s ease;
        background-color: transparent;
        &:hover {
            transform: scale(1.1) translate(2%, 48%);
            color: $color-white;
        }
    }

    &--prev {
        position: absolute;
        cursor: pointer;
        left: 2%;
        bottom: 50%;
        transform: translate(5%, 50%);
        border: none;
        font-size: 5rem;
        transition: transform .2s ease;
        background-color: transparent;

        &:hover {
            transform: scale(1.1) translate(-2%, 48%);
            color: $color-white;
        }
    }

    &--features__li {
        display: flex;
        align-items: center;
    }

    &--body {
        flex: 0 0 85%;
        width: 85vw;
        height:85vh;
        border-radius: 5px;
        background-color: $color-white;
        box-shadow: .5rem 1rem 1rem rgba($color-black, .1);
        &__1 {
            flex: 1;
            text-align: left;
            border-right: 3px solid $color-grey-dark-2;

         
        }

    }

    &__ul {
        list-style: none;
        padding: 0 5rem;
        line-height: 10rem;
        font-size: 2rem;
        max-height: 65vh;
        overflow-y: auto;
      

        &> :not(:last-child) {
            border-bottom: 2px solid $color-grey-dark-2;
        }
    }

    &--tool {
        &__li {
            display: flex;
            align-items: center;
        }
        &__logo {
            width: 5rem;
            margin-right: 1rem;
        }
    }

}