.detail {
    &--checkbox {
        display: none;
    }


    &--icon {
        top: 2.3rem;

        &,
        &::before,
        &::after {
            width: 3rem;
            height: 2px;
            background-color: $color-grey;
            position: absolute;
            left: 50%;
            transform: translate(-50%, 0%);
            transition: all .2s;
        }

        &::before,
        &::after {
            content: '';
            position: absolute;
        }

        &::before {
            top: -.9rem;
        }

        &::after {
            top: .9rem;
        }
    }

    &--button {
        position: absolute;
        top: 1rem;
        left: 1rem;
        width: 5rem;
        height: 5rem;
        text-align: center;
        cursor: pointer;
        display: inline-block;
        transition: all .8s;
    
    }

    &--button:hover &--icon::before {
        top: -1.2rem;
    }

    &--button:hover &--icon::after {
        top: 1.2rem;

    }
    &--checkbox:checked+&--button &--icon{
        background-color: transparent;
        transition: all .3s;
        &::before,
        &::after {
            width: 4rem;
            height: 2px;
            background-color: $color-grey;
            position: absolute;
            left: 50%;
            transform: translate(-50%, 0%) scale(1.2);
        }
        &::before,
        &::after {
            content: '';
            position: absolute;
        }
        &::before {
            transform: translate(-50%, -50%) rotate(135deg);
            left: 50%;
            top: 50%;
        }
        &::after {
            transform: translate(-50%, -50%) rotate(-135deg);
            left: 50%;
            top: 50%;
        }
      
    }
    &--checkbox:checked+&--button {
        position: fixed;
        top: 2%;
        left: 2%;
        background-color: white;
        border-radius: 50%;
        z-index: 101;
        &:hover{
            scale: 1.1;
            transition: all .2s;
            box-shadow: 1rem 1rem 1rem rgba($color-black, .2);
        }
    }
   &--content{
        opacity: 0;
        visibility: hidden;
        z-index: -1;
        transition: opacity 2s;
    }
    
    &--checkbox:checked~&--content{
        position: fixed;
        top: 0;
        left: 0;
        visibility: visible;
        width: 100vw;
        height: 100vh;
        opacity: 1;
        z-index: 12;
        text-align: center;
        background-color: transparent;
        padding: 5rem 3rem;
        color: $color-grey;
        display: flex;
        transition: opacity .7s;
    }
    &--background {
        position: absolute;
        top: 0%;
        left: 0%;
        width: 10rem;
        height: 10rem;
        z-index: -1;
        opacity: 0;
        background-color: $color-grey-light-2;
        transition: all .8s;
        border-radius: 2px;
    }

    &--checkbox:checked~&--background {
        position: fixed;
        opacity: 1;
        z-index: 10;
        top: 50%;
        left: 50%;
        transform: scale(5000%);
        transition: transform 1s;
    }
   
    &__video{
        font-size: 3rem;
        position:absolute;
        margin-top: 1rem;
        margin-left: 1rem;
    }
}