.detail {
    &--checkbox__1 {
        @include detailCheckbox(1);
    }
    &--icon__1 {
        @include detailIcon(1);

    }
    &--button__1 {
        @include detailButton(1);

    }
    &--content__1 {
        @include detainContent(1);

    }
    &--background__1 {
        @include detailBackground(1);

    }
    &--checkbox__2 {
        @include detailCheckbox(2);
    }
    &--icon__2 {
        @include detailIcon(2);
    }
    &--button__2 {
        @include detailButton(2);
    }
    &--content__2 {
        @include detainContent(2);
    }
    &--background__2 {
        @include detailBackground(2);
    }

    &--checkbox__3 {
        @include detailCheckbox(3);
    }
    &--icon__3 {
        @include detailIcon(3);
    }
    &--button__3 {
        @include detailButton(3);
    }
    &--content__3 {
        @include detainContent(3);
    }
    &--background__3 {
        @include detailBackground(3);
    }

    &--checkbox__4 {
        @include detailCheckbox(4);
    }
    &--icon__4 {
        @include detailIcon(4);
    }
    &--button__4 {
        @include detailButton(4);
    }
    &--content__4 {
        @include detainContent(4);
    }
    &--background__4 {
        @include detailBackground(4);
    }

    &__video {
        font-size: 3rem;
        position: absolute;
        margin-top: 1rem;
        margin-left: 1rem;
        transition: all .2s;
        background-color: transparent;

        &:hover {
            transform: translateY(-5px) scale(1.1);
        }
    }
}