.experience {
    &--heading {
        color: $color-brown-dark;
        margin-left: 5rem;
    }
    &--list {
        display: flex;
        flex-direction: column;
        list-style: none;
        margin: 3rem 1rem;
        flex:1;
        justify-content: space-between;
        &__item{
            font-size: 2.3rem;
            display: flex;
            align-items: center;
            @include respond (tab-lg){
                font-size: 4rem;
            }
        }
        &__item::before {
            content: "";
            display: inline-block;
            height: 1rem;
        }
        &__logo{
            width: 4rem;
            background-color: $color-grey-light-1;
            padding: .5rem .5rem;
            border-radius: 10px;
            margin-right: 1.5rem;
        }
    }
    &--container {
        height: 100%;
        display: flex;
        padding: 0 8rem;
    }
    &--text {
        flex: 1;
        color: $color-brown-dark;

        &__content {
            padding: 0 3rem;
            font-size: 2rem;
            display: flex;
            height: 80%;
        }
        
    }
    &--animation {
        flex: 1;
        position: relative;
        overflow: hidden;
        @include respond(tab-lg){
            flex: 0;
        }
    }
    &--image {
        &__container {
            &__android,
            &__aws,
            &__java,
            &__js,
            &__react,
            &__rmit,
            &__sass,
            &__spring {
                display: flex;
                justify-content: center;
                height: 17rem;
                align-items: center;
                border-radius: 50%;
                background-color: $color-white;
                opacity: 0;
            }
            &__android{
                animation: bubble 8s ease-in infinite 1.5s;
            }
            &__aws{
                animation: bubble 8s ease infinite .5s;
            }
            &__java{
                animation: bubble 8s ease-in infinite 2.3s;
            }
            &__js{
                animation: bubble 8s ease infinite .5s;
            }
            &__react{
                animation: bubble 8s ease-in infinite;
            }
            &__rmit{
                animation: bubble 8s ease infinite 1.3s;
            }
            &__sass{
                animation: bubble 8s ease-in infinite 2s;
            }
            &__spring{
                animation: bubble 8s ease infinite 1.5s;
            }
        }
    }
    &--cpp,
    &--swift,
    &--arduino{
        width: 70%;
    }
}