.header{
    &--text{
        flex: 1;
        display: flex;
        flex-direction: column;
        padding-top: 12%;
        color: $color-grey-light-2;
    }
    &--logo{
        width: 4rem;
        margin-right: 1rem;
        &__linked-in{
            font-size: 3.5rem;
            margin-right: 1rem;
        }
    }
    &--iam{
        font-size: 2rem;
    }
    &--name{
        font-size: 4.5rem;
    }
    &--role{
        &__1{
            display: inline-block;
            font-size: 3rem;
        }
        &__2{
            display: inline-block;
            font-size: 3rem;
        }
    }
    &--image{
        width: 40rem;
        height: 40rem;
        border-radius: 5px;
        background-image: url(../assets/images/profile.jpg);
        background-position: center;
        background-size: cover;
        @include absCustom(30%, 80%);
        &-container{
            flex: 1;
            position: relative;
        }
    }
    &--links{
        position: absolute;
        bottom: 15%;
        left: 50%;
        transform: translate(-50%, 15%);
        display: flex;
        &__1,&__2{
            list-style: none;
            display: flex;
            align-items: center;
            font-size: 2rem;
            transition: all .2s;
            &:hover{
                transform: scale(1.1);
            }
        }
        &__1{
            margin-right: 3rem;
        }
     

    }

    &--link{
        &:link,
        &:visited{
            color: $color-black;
            display: flex;
            align-items: center;
        }
    }
}