.learning {
    &--heading {
        display: flex;
        align-items: center;
        font-size: 3.5rem;
        color: transparent;
        background-color: rgba($color-green-dark, .9);
        background-clip: text;
        transition: all .5s;
        margin-bottom: 4rem;

        &:hover {
            transform: skewX(2deg) skewY(1deg);
        }

        &__logo {
            width: 10rem;
        }
    }

    &--paragraph {
        font-size: 2rem;
        margin-bottom: 8rem;
        color: $color-grey-light-1;

    }

    &--card {
        border-radius: 5px;
        background-color: rgba($color-grey-light-2, .9);
        height: 40rem;
        text-align: center;
        padding: 5rem;
        position: relative;
        transition: all .2s;
        z-index: 2;

        &:hover {
            transform: translateY(-5px) scale(1.1);
            box-shadow: 1rem 1rem .5rem rgba($color-black, .1);
        }

       
    }


    &--image {
        width: 15rem;
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -30%);

        &__1,
        &__2,
        &__3 {
            width: 10rem;

            &:not(:last-child) {
                margin-right: 1rem;
            }
        }
    }

    &--name {
        font-size: 3.5rem;
        position: absolute;
        top: 75%;
        left: 50%;
        transform: translate(-50%, -60%);
    }
}