.project {
    &--heading {
        color: $color-grey;
        margin-top: 0;
        padding-top: 0;

    }
    &--live {
        color: $color-grey;
        margin-right: 1rem;
    }

    &--period {
        font-size: 2rem;
        margin-bottom: 2rem;
        display: inline-block;
    }

    &--team {
        font-size: 2.2rem;
        font-weight: 600;
        margin-bottom: .3rem;
    }

    &--card {
        height: 50rem;
        // background-color: rgba($color-white, .7);
        text-align: center;
        // box-shadow: 1rem 2rem 1rem rgba($color-black, .1);
        border-radius: 5px;
        position: relative;
        float: left;
        width: calc((100% - 40rem)/3);

        &:not(:last-child) {
            margin-right: 20rem;


        }
    }

    &--git {
        width: 2rem;
        margin-right: 1rem;
    }

    &--image {
        width: 15rem;
        height: 15rem;
        border-radius: 10px;
        border: 3px solid $color-grey-dark-2;
        background-color: white;
        box-shadow: .5rem 1rem 1rem rgba($color-black, .2);
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 1rem auto;
        transition: transform .2s ease;

        &:hover {
            transform: scale(1.1);
        }



        &__cpt {
            width: 12rem;
        }

        &__pocket {
            width: 12rem;
            height: 7rem;
        }

        &__ng {
            width: 12rem;
        }
    }

    &--ul {
        list-style: none;
        line-height: 4rem;
    }

    &--basic-info {
        display: flex;
        align-items: center;
        justify-content: center;

        &:not(:last-child) {
            padding-bottom: 1rem;
            border-bottom: 2px solid rgba($color-grey, .4);
            margin: 0 5rem;
        }

        &__link {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding-top: 1.5rem;

            &:not(:last-child) {
                padding-bottom: 1rem;
                border-bottom: 2px solid rgba($color-grey, .4);
                margin: 0 5rem;
            }

            &__1 {
                display: flex;
                align-items: center;
                margin-bottom: 1.4rem;
            }

            &__2 {
                display: flex;
                align-items: center;
                margin-bottom: 1.4rem;
            }

            &__3 {
                display: flex;
                align-items: center;
            }
        }
    }

    &--text {
        font-size: 1.9rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &--name {
        font-size: 3rem;
        font-weight: 600;
        width: 30rem;

    }
}

.time_line {
    height: 3px;
    border-radius: 100px;
    background-color: $color-grey;
    margin: 0 auto;
    margin-bottom: 7vh !important;
    max-width: 155rem;
    display: flex;
    align-items: center;
    &__box {
        position: relative;
        float: left;
        width: calc((100% - 40rem)/3);
        display: flex;
        align-items: center;
        justify-content: center;
        &:not(:last-child) {
            margin-right: 20rem;
        }
    }
    &__circle {
        width: 10px;
        height: 10px;
        background-color: $color-grey;
        border-radius: 50%;

    }
}