@use 'sass:math';

.image {
    &--heading {
        font-size: 2rem;
        height: 15%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $color-grey-dark-3;
    }
    &--prev,
    &--next {
        position: fixed;
        top: 40%;
        outline: none;
        border: none;
        background-color: transparent;
        font-size: 3rem;
        transition: all 0.3s ease;
        cursor: pointer;
        &:hover {
            transform: scale(1.1);
            color: $color-grey;
        }
        &:active {
            transform: scale(1);
        }
    }

    &--prev {
        left: 3%;
    }
    &--next {
        right: 3%;
    }
    @for $i from 2 through 10 {
        &--container__#{$i} {
            height: 80%;
            width: #{($i + 1) * 10}rem; // 변수 없이 직접 계산하여 사용
            display: flex;
            margin: auto;
            align-items: end;
            .image__selected {
                transition: all 0.5s ease 0.3s;
                margin-bottom: 15rem;
                width: 100rem;
                height: 50rem;
                margin-left: #{math.div(-(100 - (($i + 1) * 10)), 2)}rem; // math.div() 사용
                box-shadow: .1rem 1rem 1cap rgba($color-black, .2);
            }
            .image__selected__responsive{
                transition: all 0.5s ease 0.3s;
                width: 50rem;
                height: 55rem;
                margin-bottom: 12rem;
                margin-left: #{math.div(-(75 - (($i + 1) * 10)), 2)}rem; //
                box-shadow: .1rem 1rem 1cap rgba($color-black, .2);
            }
        }
    }
    &--container__responsive{
        width: 25rem;
        height: 80%;
        display: flex;
        margin: auto;
    }
    @for $i from 0 through 10 {
        &--responsive__#{$i}{
            width: 10rem;
            height: 11rem;
            border: 1px solid $color-grey;
            border-radius: 3px;
            transition: all 0.7s;
            position: fixed;
            $calculated-margin: $i * 5rem;
            margin-left: $calculated-margin;
        }
        &--#{$i} {
            width: 20rem;
            height: 10rem;
            border: 1px solid $color-grey;
            border-radius: 3px;
            transition: all 0.7s;
            position: fixed;
            $calculated-margin: $i * 10rem;
            margin-left: $calculated-margin;
        }
    }
}
.gallery {
    &:hover .image--2:not(:hover),
    &:hover .image--3:not(:hover),
    &:hover .image--4:not(:hover),
    &:hover .image--5:not(:hover) {
        transform: scale(0.95);
        opacity: 0.8;
    }
}