.header {
    height: 95vh;
    display: flex;
    background-image: linear-gradient(90deg, rgba($color-green-dark, .8) 0%,
            rgba($color-green-dark, .8) 35%,
            rgba($color-brown-dark, 1) 35%), url(../assets/images/forest.jpg);
    background-position: center;
    clip-path: polygon(0 0, 100% 0%, 100% 85%, 0% 100%);
}