.header {
    height: 95vh;
    display: flex;
    background-image: linear-gradient(90deg, rgba($color-green-dark, .8) 0%,
            rgba($color-green-dark, .8) 35%,
            rgba($color-brown-dark, 1) 35%), url(../assets/images/forest.jpg);
    background-position: center;
    clip-path: polygon(0 0, 100% 0%, 100% 85%, 0% 100%);

    @include respond(tab-land) {
        height: 50vh;
    }
}

.projects {
    padding: 18vh 3vh;
    margin-top: -15vh;
    height: 115vh;
    // background-image: linear-gradient(to right,
    //         rgba($color-green-dark, .95),
    //         rgba($color-green-dark, .95)), url(../assets/images/coding.jpg);
    // background-size: cover;
    // background-position: center;

    background-color: $color-grey-dark-1;


    @include respond(tab-land) {
        padding-top: 3vh;
        height: 85vh;
    }

    @include respond(tab-port) {
        padding-top: 3vh;
        height: 100vh;
    }
}

.about {

    height: 100vh;
    // margin-top: -15vh;
    padding-top: 10vh;

    @include respond(desk-md) {
        padding-top: 13vh;

        height: 125vh;
    }

    @include respond(tab-land) {
        margin-top: -10vh;
        height: 70vh;
    }

    @include respond(tab-port) {
        height: auto;
        padding-bottom: 25rem;
    }

}

.education {
    padding-top: 20vh;
    height: 130vh;
    margin-top: -25vh;
    background-color: rgba($color-brown-dark, 1);
    clip-path: polygon(0 15%, 100% 0%, 100% 85%, 0% 100%);
    color: $color-grey-light-1;

    @include respond(desk-sm) {
        clip-path: polygon(0 10%, 100% 0%, 100% 90%, 0% 100%);
        padding-top: 10vh;
        height: 130vh;
    }

    @include respond(tab-land) {
        clip-path: polygon(0 10%, 100% 0%, 100% 90%, 0% 100%);
        margin-top: -10vh;
        padding-top: 7vh;
        height: 55vh;
    }

    @include respond(tab-port) {
        margin-top: -15vh;
        height: 78vh;
    }
}

.skills {
    padding-bottom: 10rem;
    padding-top: 25vh;
    height: 130vh;
    margin-top: -25vh;
    background-color: rgba($color-grey-dark-1, .7);

    @include respond(tab-land) {
        margin-top: -10vh;
        padding-top: 10vh;
        height: 110vh;
    }
    @include respond(tab-port) {
        margin-top: -10vh;
        padding-top: 10vh;
        height: 130vh;
    }
}


.currently-learning {
    height: 100vh;
    padding-top: 5rem;
    background-color: rgba($color-brown-dark, .7);
    padding: 4rem;
    @include respond(tab-land) {
        padding-top: 3vh;
        height: 50vh;
    }
    @include respond(tab-port) {
        height: 70vh;
    }
}
.footer {
    background-color: $color-grey-dark-3;

}
.animation{
    &--right{
        position: absolute;
        height: 100vh;
        top: 0;
        right: 0;
        animation: right-to-left 1s ease-in;
        z-index: 10;
        background-color: $color-brown-dark;
        opacity: 0;
    }
    &--bottom{
        position: absolute;
        width: 100vw;
        bottom: 0;
        left: 0;
        animation: bottom-to-top 1s ease-in .5s;
        z-index: 10;
        opacity: 0;
        background-color: $color-green-dark;
    }
   
}