*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    @include respond(desk-md) {
        font-size: 55%;
    }
    @include respond(desk-sm) {
        font-size: 45%;
    }
    @include respond(tab-lg) {
        font-size: 40%;
    }
    @include respond(tab-md) {
        font-size: 39%;
    }
}

body {
    // font-family: 'Lato', sans-serif;
    // font-family: 'Noto Sans', sans-serif;
    font-family: 'Public Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    padding: 3rem;
    box-sizing: border-box;
    color: $color-grey;
    overflow-x: hidden;


}

.link {
    &:link,
    &:visited {
        color: $color-grey;
        display: inline-block;
        font-size: 1.8rem;
        transition: all .2s;
        top: 2.5rem;
        line-height: 1;
    }

    &:hover {
        font-size: 2rem;
    }
}

.ul {
    list-style: none;
}

.li {
    padding: 0rem 0rem;
}