@mixin absCustom($top, $left) {
    position: absolute;
    top: $top;
    left: $left;
    transform: translate(-$left, -$top);
}

@mixin clearFix {
    &::after {
        display: table;
        clear: both;
        content: " ";
    }
}

@keyframes hoverRotate {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    25% {
        transform: translate(-50%, -50%)  rotate(90deg);
    }
    50% {
        transform: translate(-50%, -50%)  rotate(180deg);
    }
    75% {
        transform: translate(-50%, -50%)  rotate(270deg);
    }
}
