.heading {
    &--tertiary {
        font-size: 3.5rem;
        margin:2rem 4rem;
        margin-bottom: 5rem;
        color: transparent;
        display: inline-block;
        background-color: rgba($color-green-dark, .9);
        background-clip: text;
        transition: all .5s;
        &:hover{
            transform: skewX(2deg) skewY(1deg) scale(1.1);
        }
      
    }
}