$color-blue-primary : #51CAF4;
$color-blue-secondary : #58B0EF;
$color-blue-tertiary : #7394E0;

$color-blue-light : #B3E9FC;
$color-blue-lighter : #E5F7FF;

$color-purple-primary : #8F75C4;
$color-purple-secondary : #A0549B;
$color-purple-tertiary : #A4326B;
$color-green-primary: #00A03B;
$color-green-secondary:#009700;
$color-green-tertiary:#008C49;

$color-green-dark:#284738;
$color-brown-dark:#875c4c;

$color-red:#FF5159;
$color-red-light: #FF6961;
$color-white:#fff ;
$color-black: #000;
$color-grey: #777;
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark-1: #e0e0e0;
$color-grey-dark-2: #d6d6d6;
//font 
$font-size-small: 1.2rem;
$font-size-medium: 1.6rem;
$font-size-big:2rem;

//gutters
$gutter-small:4rem;
$gutter-medium:6rem;
$gutter-big:8rem;

//rems
$xs-rem: 2rem;
$sm-rem: 2.3rem;
$md-rem: 2.7rem;
$lg-rem: 3rem;
$xl-rem: 4rem;